.nav-item {
    font-size: 18px;
    background-color: #FFFFFF !important;
}

.nav-item:hover {
    border-radius: 10px;
    cursor: pointer;
    background-color: #566573  !important;
}

.nav-item > a {
    color: #1C2833 !important;
}

.nav-link:hover {
    color: #FFFFFF !important;
}

.nav-link.active{
    background-color: #566573 !important;
    color: #FFFFFF !important;
    border-radius: 10px !important;
}

.nav-link {
    color: #1C2833 !important;
}